<header class="content-header wizard-header">
	<h1 class="wizard-title" data-number="2">
		Deep dive
	</h1>
	<h2 class="wizard-subtitle">
		Select 3 or more articles that will provide the research foundation for your story. 
	</h2>
</header>

<ul class="articles-list">
	<li class="article" ng-repeat="(key, value) in articles" ng-class="{'selected': selectedArticles[key] === true}">
		<i class="icon-check-mark-circle selected-article-symbol"></i>
		<div class="article-actions">
			<ul class="actions-list" ng-switch="selectedArticles[key] === true">
				<li class="action select" ng-switch-default ng-click="add_article(key)">
					<span class="action-icon">
						<i class="icon-plus"></i>
					</span>
					Select
				</li>
				<li class="action remove" ng-switch-when="true" ng-click="remove_article(key)">
					<span class="action-icon">
						<i class="icon-minus-1"></i>
					</span>
					Remove
				</li>
				<li class="action">
					<span class="action-icon">
						<i class="icon-news"></i>
					</span>
					Preview
				</li>
			</ul>
		</div>
		<h2 class="article-title">
			<a href="{{ value.url }}">
				{{ value.title }}
			</a>
			<br>
			<small class="article-details">
				Created on {{ value.date }} by <a href="{{ value.url }}">{{ value.source }}</a>
			</small>
		</h2>
		<p class="article-intro">
			{{ value.intro }}
		</p>
		<div class="article-popularity">
			<ul class="article-popularity-items">
				<li class="popularity-item">
					<i class="icon-facebook"></i>{{ value.share_count.facebook }}
				</li>
				<li class="popularity-item">
					<i class="icon-twitter"></i>{{ value.share_count.twitter }}
				</li>
				<li class="popularity-item">
					<i class="icon-linkedin"></i>{{ value.share_count.linkedin }}
				</li>
			</ul>
		</div>
	</li>
</ul>