<h2 class="wizard-sidebar-title">
	New content
</h2>
<h3 class="wizard-sidebar-subtitle">
	GrowthHacking
</h3>
<p class="wizard-sidebar-description">
	Top 50 Growth Hackers on Twitter (ON)
</p>

<p class="wizard-sidebar-tip">
	We'll help you craft remarkable content about a subject with only a few simple steps
</p>
<ol class="wizard-sidebar-steps vertical-step-list">
	<li class="step" ng-repeat="step in wizard_steps" ng-class="{'active': step.status == 'current'}" >
		{{ step.name }}
	</li>
</ol>