@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.center-align, .articles-list .article .article-actions .actions-list, .articles-list .article .article-actions .action .action-icon i, .new-comment-modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.scale-in {
  transform: scale(0.75);
  opacity: 0; }

.scale-in.ng-enter,
.scale-in > .ng-enter {
  transition: all cubic-bezier(0.1, 0.3, 0.1, 1) 600ms; }

.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
  transform: scale(1);
  opacity: 1; }

.scale-in.ng-leave,
.scale-in > .ng-leave {
  transition: all ease-in-out 300ms; }

.slide-in-left {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.slide-in-left.ng-enter,
.slide-in-left > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.3, 0.1, 1) 600ms;
  -moz-transition: all cubic-bezier(0.1, 0.3, 0.1, 1) 600ms;
  transition: all cubic-bezier(0.1, 0.3, 0.1, 1) 600ms; }

.slide-in-left.ng-enter-active,
.slide-in-left > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-left.ng-leave,
.slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms; }

@-webkit-keyframes fadeFromBottom {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 30%);
    -ms-transform: translate(0, 30%);
    transform: translate(0, 30%); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-moz-keyframes fadeFromBottom {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 30%);
    -ms-transform: translate(0, 30%);
    transform: translate(0, 30%); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes fadeFromBottom {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 30%);
    -ms-transform: translate(0, 30%);
    transform: translate(0, 30%); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

.fade-from-bottom, .articles-list .article:hover .article-actions .action {
  -webkit-animation-name: fadeFromBottom;
  -moz-animation-name: fadeFromBottom;
  animation-name: fadeFromBottom;
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.fade-from-bottom-slower {
  -webkit-animation-name: fadeFromBottom;
  -moz-animation-name: fadeFromBottom;
  animation-name: fadeFromBottom;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

@-webkit-keyframes fadeFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(-5rem, 0);
    -ms-transform: translate(-5rem, 0);
    transform: translate(-5rem, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-moz-keyframes fadeFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(-5rem, 0);
    -ms-transform: translate(-5rem, 0);
    transform: translate(-5rem, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes fadeFromLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(-5rem, 0);
    -ms-transform: translate(-5rem, 0);
    transform: translate(-5rem, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

.fade-from-left {
  -webkit-animation-name: fadeFromLeft;
  -moz-animation-name: fadeFromLeft;
  animation-name: fadeFromLeft;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

@-webkit-keyframes fadeFromRight {
  from {
    opacity: 0;
    -webkit-transform: translate(5rem, 0);
    -ms-transform: translate(5rem, 0);
    transform: translate(5rem, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-moz-keyframes fadeFromRight {
  from {
    opacity: 0;
    -webkit-transform: translate(5rem, 0);
    -ms-transform: translate(5rem, 0);
    transform: translate(5rem, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes fadeFromRight {
  from {
    opacity: 0;
    -webkit-transform: translate(5rem, 0);
    -ms-transform: translate(5rem, 0);
    transform: translate(5rem, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); } }

.fade-from-right {
  -webkit-animation-name: fadeFromRight;
  -moz-animation-name: fadeFromRight;
  animation-name: fadeFromRight;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

html {
  background-color: #f8f9fa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 13px;
  color: #666; }

.number-heading {
  margin-right: 5px;
  font-weight: bold;
  font-size: 80%;
  padding: 2px 8px;
  border-radius: 100%;
  border-color: #CCC;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box; }

#sidebar_menu {
  width: 64px;
  height: 100vh;
  background: #36454C;
  float: left;
  box-sizing: border-box;
  border-top: 3px solid #29B6F6; }

#view_wrapper {
  float: left;
  width: calc(100% - 64px); }

#wizard_sidebar {
  width: 216px;
  height: 100vh;
  float: left;
  background-color: #FFF;
  box-sizing: border-box;
  border-right: 1px solid #d4dce0;
  border-top: 3px solid #03A9F4;
  padding: 24px; }
  #wizard_sidebar .wizard-sidebar-title {
    font-size: 24px;
    font-weight: 600; }
  #wizard_sidebar .wizard-sidebar-subtitle {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 6px; }
  #wizard_sidebar .wizard-sidebar-description {
    margin: 0; }
  #wizard_sidebar .wizard-sidebar-tip {
    font-size: 12px;
    color: #AAA;
    margin: 48px 0 24px; }

.vertical-step-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .vertical-step-list .step {
    counter-increment: step-counter;
    margin-bottom: 24px;
    color: #CCC;
    font-size: 16px;
    z-index: 20;
    position: relative; }
    .vertical-step-list .step::after {
      content: '';
      width: 1px;
      height: 100%;
      left: 13px;
      display: block;
      background-color: #DDD;
      position: absolute;
      top: calc(100% + 3px);
      z-index: 0; }
    .vertical-step-list .step::before {
      content: counter(step-counter);
      margin-right: 5px;
      font-weight: bold;
      font-size: 80%;
      padding: 2px 8px;
      border-radius: 100%;
      border-color: #CCC;
      border-style: solid;
      border-width: 2px;
      box-sizing: border-box; }
    .vertical-step-list .step:last-child::after {
      display: none; }
    .vertical-step-list .step.active {
      font-weight: 500;
      color: #29B6F6; }
      .vertical-step-list .step.active::before {
        border-color: #29B6F6;
        background-color: #29B6F6;
        color: #FFF; }
    .vertical-step-list .step.done {
      font-weight: 500;
      color: #00E676; }
      .vertical-step-list .step.done::before {
        border-color: #00E676;
        background-color: #00E676;
        color: #FFF; }

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  float: none;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 48px;
  height: 100vh;
  overflow: auto; }
  .content-wrapper.has-wizard {
    width: calc(100% - 216px); }

.topics-list {
  margin: 0;
  padding: 0; }
  .topics-list .topic {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin-bottom: 24px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #e0e6e9;
    background-color: #FFF; }
    .topics-list .topic:last-child {
      margin-right: 0; }
    .topics-list .topic:nth-child(4n) {
      margin-right: 0; }
    .topics-list .topic:nth-child(4n+1) {
      clear: left; }
    .topics-list .topic .topic-header {
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
      .topics-list .topic .topic-header .topic-title {
        background-color: transparent;
        background-image: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.6) 100%);
        background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.6) 100%);
        padding: 72px 0 24px;
        margin: 0;
        color: #FFF;
        font-size: 16px;
        text-align: center;
        line-height: 16px; }
      .topics-list .topic .topic-header .topic-source-materials {
        font-size: 12px;
        font-weight: 100; }
    .topics-list .topic .topic-content {
      padding: 12px; }
      .topics-list .topic .topic-content .topic-tags {
        padding: 12px 0 24px;
        border-bottom: 1px dotted #CCC;
        min-height: 21vh; }
      .topics-list .topic .topic-content .select-topic {
        width: 100%;
        border: 1px solid #CCC;
        background-color: transparent;
        color: #CCC;
        border-radius: 6px;
        padding: 12px 0;
        margin-top: 12px; }
    .topics-list .topic:hover {
      cursor: pointer;
      border: 1px solid #29B6F6; }
      .topics-list .topic:hover .topic-content .select-topic {
        background-color: #29B6F6;
        color: #FFF;
        border: none; }

.articles-list {
  margin: 0;
  padding: 0; }
  .articles-list .article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-bottom: 24px;
    border-radius: 4px;
    border: 1px solid #e0e6e9;
    background-color: #FFF;
    position: relative; }
    .articles-list .article:last-child {
      margin-right: 0; }
    .articles-list .article:nth-child(2n) {
      margin-right: 0; }
    .articles-list .article:nth-child(2n+1) {
      clear: left; }
    .articles-list .article .selected-article-symbol {
      color: #00E676;
      position: absolute;
      top: -24px;
      right: -24px;
      font-size: 36px;
      z-index: 10;
      display: none; }
    .articles-list .article .article-actions {
      background-color: rgba(54, 69, 76, 0.15);
      background-image: -webkit-linear-gradient(rgba(54, 69, 76, 0.15) 0%, rgba(54, 69, 76, 0.6) 60%, rgba(54, 69, 76, 0.9) 100%);
      background-image: linear-gradient(rgba(54, 69, 76, 0.15) 0%, rgba(54, 69, 76, 0.6) 60%, rgba(54, 69, 76, 0.9) 100%);
      position: absolute;
      width: 100%;
      height: 100%;
      display: none;
      list-style: none; }
      .articles-list .article .article-actions .actions-list {
        width: 400px;
        padding: 0;
        text-align: center; }
      .articles-list .article .article-actions .action {
        display: inline-block;
        width: 60px;
        margin: 0 12px;
        color: #FFF;
        font-size: 14px;
        font-weight: 700; }
        .articles-list .article .article-actions .action .action-icon {
          position: relative;
          width: 60px;
          height: 60px;
          border-radius: 100%;
          background: #FFF;
          display: block;
          margin-bottom: 12px;
          color: #36454C; }
          .articles-list .article .article-actions .action .action-icon i {
            position: absolute;
            font-size: 24px;
            margin-top: 3px;
            text-shadow: none; }
        .articles-list .article .article-actions .action:hover {
          cursor: pointer; }
          .articles-list .article .article-actions .action:hover .action-icon {
            color: #039BE5; }
          .articles-list .article .article-actions .action:hover.select .action-icon {
            color: #00E676; }
          .articles-list .article .article-actions .action:hover.remove .action-icon {
            color: #E53935; }
    .articles-list .article .article-title {
      margin: 0;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      padding: 24px 24px 0; }
      .articles-list .article .article-title a {
        font-weight: 700;
        text-decoration: none;
        color: #039BE5; }
      .articles-list .article .article-title .article-details {
        font-weight: 100; }
        .articles-list .article .article-title .article-details a {
          color: #36454C; }
    .articles-list .article .article-intro {
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 5.6rem;
      line-height: 1.4rem;
      padding: 0 24px;
      margin-bottom: 24px;
      box-sizing: initial; }
    .articles-list .article .article-popularity {
      border-top: 1px solid #e0e6e9;
      padding: 12px;
      width: 100%; }
      .articles-list .article .article-popularity .article-popularity-items {
        list-style: none;
        display: inline-block;
        width: 100%;
        padding: 0; }
        .articles-list .article .article-popularity .article-popularity-items .popularity-item {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 31.76157%;
          display: inline-block;
          text-align: center;
          height: 24px;
          line-height: 24px; }
          .articles-list .article .article-popularity .article-popularity-items .popularity-item:last-child {
            margin-right: 0; }
          .articles-list .article .article-popularity .article-popularity-items .popularity-item i {
            margin-right: 12px;
            font-size: 16px;
            vertical-align: middle; }
    .articles-list .article:hover .article-actions {
      display: block; }
    .articles-list .article.selected {
      box-shadow: inset 0 0 0 2px #00E676; }
      .articles-list .article.selected .selected-article-symbol {
        display: block; }

.tag-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; }
  .tag-list .tag {
    display: inline-block;
    padding: 4px 12px;
    margin: 4px 2px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: 1px solid #CCC; }

.show-comments-button {
  border: none;
  background: #29B6F6;
  color: #FFF;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 50px;
  margin-top: 24px; }

.comments-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 216px;
  height: 100vh;
  background: #41535b;
  display: block;
  z-index: 10;
  overflow: auto; }
  .comments-sidebar ul {
    list-style: none;
    color: #FFF;
    text-align: left;
    padding: 12px; }
    .comments-sidebar ul li {
      margin-bottom: 24px; }

.create-comment {
  border: none;
  background: #29B6F6;
  color: #FFF;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 50px;
  margin-top: 24px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 10;
  box-shadow: 0 0 24px 0 rgba(54, 69, 76, 0.6); }
  .create-comment i {
    vertical-align: middle;
    margin-right: 12px;
    font-size: 24px; }

.new-comment-modal {
  position: fixed;
  z-index: 10;
  width: 400px;
  height: 25vh;
  background-color: #36454C;
  padding: 24px;
  display: block;
  box-shadow: 0 0 120px 0 rgba(54, 69, 76, 0.75); }
  .new-comment-modal textarea {
    width: 100%;
    height: 85%; }

.magic-text {
  font-weight: 900;
  background: #29B6F6; }

.wizard-header {
  text-align: center;
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px dotted #d4dce0; }
  .wizard-header .wizard-title {
    font-size: 36px; }
    .wizard-header .wizard-title::before {
      content: attr(data-number);
      width: 48px;
      height: 48px;
      line-height: 48px;
      background: #03A9F4;
      display: inline-block;
      text-align: center;
      border-radius: 100%;
      color: #FFF;
      margin-right: 12px; }
  .wizard-header .wizard-subtitle {
    font-weight: 100;
    font-size: 18px;
    color: #888;
    margin: 0;
    padding: 0;
    max-width: 36%;
    display: inline-block; }
    .wizard-header .wizard-subtitle em {
      font-style: normal;
      font-weight: 700; }

#firepad {
  height: 85vh; }
