$dark: #36454C;
$background_color: #f8f9fa;

// Material colors: Blue
$blue400: #29B6F6;
$blue500: #03A9F4;
$blue600: #039BE5;

// Material colors: Green
$greenA400: #00E676;

// Material colors: Red
$red600: #E53935;