<ul class="topics-list">
	<li class="topic" ng-repeat="topic in topics" ng-click="check_in_at(hotel.data.$id)">
		<div class="topic-header" ng-style="{'background-image':'url(' + topic.cover_image + ')'}">
			<h2 class="topic-title">
				{{ topic.topic_title }}
				<br>
				<small class="topic-source-materials">{{ topic.source_materials }} source materials</small>
			</h2>
		</div>
		<div class="topic-content">
			<ul class="topic-tags tag-list">
				<li class="tag" ng-repeat="tag in topic.tags">
					{{ tag }}
				</li>
			</ul>
			<button class="button-outline select-topic">
				Select this topic
			</button>
		</div>
	</li>
</ul>